body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgb(11, 11, 11);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
}

#myCanvas {
  background: green;
}
